Edit comment:

<form name="form" (ngSubmit)="commentForm.form.valid && updateComment()" #commentForm="ngForm">
    <div class="form-author" [ngClass]="{ 'has-error': commentForm.submitted && !author.valid }">
        <label for="author">Author Email</label>
        <input type="text" class="form-control" name="author" [(ngModel)]="comment.author" #author="ngModel" required />
        <div *ngIf="commentForm.submitted && !author.valid" class="help-block">Author email is required</div>
    </div>
    <div class="form-laptopId" [ngClass]="{ 'has-error': commentForm.submitted && !laptopId.valid }">
        <label for="laptopId">Laptop Id</label>
        <input type="text" class="form-control" name="laptopId" [(ngModel)]="comment.laptopId" #laptopId="ngModel" required />
        <div *ngIf="commentForm.submitted && !laptopId.valid" class="help-block">Laptop Id is required</div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': commentForm.submitted && !content.valid }">
        <label for="content">Content</label>
        <input type="textarea" class="form-control" name="content" [(ngModel)]="comment.content" #content="ngModel" required />
        <div *ngIf="commentForm.submitted && !content.valid" class="help-block">Content is required</div>
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Edit comment">
    </div>
    <div *ngIf="error" class="alert alert-danger">{{errorMessage}}</div>
</form>