<div class="error" *ngIf="errorMessage">{{errorMessage}}</div>
<form class="form-inline">
    <div class="form-group">
        <input type="text" class="form-control" id="searchTerm" placeholder="Search..." #searchTerm>
    </div>
    <span>Order By:</span>
    <label class="radio-inline">
        <input type="radio" name="order" (click)="order='ram'">Ram
    </label>
    <label class="radio-inline">
        <input type="radio" name="order" (click)="order='votes'">Votes
    </label>
    <label class="radio-inline">
        <input type="radio" name="order" (click)="order='comment'">Comments
    </label>
    <button (click)="filterLaptops(searchTerm.value)" class="btn btn-default">Get Results</button>
</form>

<ul>
    <li class="col-xs-4" *ngFor="let laptop of laptops">
        <h2>Model:{{laptop.model}}</h2>
        <h2>Manufacturer: {{laptop.manufacturerName}}</h2>
        <img src="{{laptop.imageUrl}}" alt="{{laptop.model}} image" />
        <a [routerLink]="[ '/laptops/', laptop.id ]">${{laptop.price}}</a>
    </li>
</ul>